<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!--
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    -->
    <!-- Map Background (to dim behind the overlay) and the Map Overlay (Initially Hidden) -->
    <div id="map-background">
      <div id="map-overlay">
        <div id="map-wrapper">
          <img id="map-img" src="{{ "/assets/map.png" | relative_url }}" alt="Map" />
          <span id="close-map">&times;</span>
        </div>
      </div>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1" >
        <!-- Map Icon -->
        <img id="map-icon" src="{{ "/assets/map-icon.png" | relative_url }}" alt="Map Icon">
      </div>

    <!--
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            <li><a href="{{ site.baseurl }}/contact.html" class="contact-us">Contact Us</a></li>
            <li class="contact-us" onclick="openEmailClient()">Email Us</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
      -->

<!--      <div class="footer-col footer-col-2">&nbsp;</div> <!-- Non-breaking space to force visibility -->

      <div class="footer-col footer-col-3">
<!--        <p>{{- site.description | escape -}}</p> -->
        <p><strong>Research project at Queen Square Institute of Neurology, University College London.</strong><br>
        Free resource (3-clause BSD license). Funded by: BBSRC, NC3Rs, MRC, ERC, Wellcome.</p>
      </div>
    </div>

  </div>

<script>
  //JS to create map pop-up when map icon is clicked and to close it
  document.addEventListener("DOMContentLoaded", function () {
    var mapOverlay = document.getElementById("map-overlay");
    var closeMap = document.getElementById("close-map");
    var mapIcon = document.getElementById("map-icon");
    var mapBackground = document.getElementById("map-background");

    // Ensure overlay is hidden initially
    mapOverlay.style.display = "none";
    mapBackground.style.display = "none";

    // Open the map overlay when clicking the icon
    mapIcon.addEventListener("click", function () {
      mapBackground.style.display = "flex";
      mapOverlay.style.display = "flex";
      mapOverlay.style.justifyContent = "center";
      mapOverlay.style.alignItems = "center";
    });

    // Close the map when clicking the "X"
    closeMap.addEventListener("click", function () {
      mapOverlay.style.display = "none";
      mapBackground.style.display = "none";
    });

    // Close when clicking anywhere outside the map (on the map background)
    mapBackground.addEventListener("click", function (event) {
    // Ensure that the map is closed only when clicking outside the #map-wrapper
      if (!event.target.closest("#map-wrapper")) {
        mapOverlay.style.display = "none";
        mapBackground.style.display = "none";
      }
    });
  });
</script>
</footer>

